<%- include('partials/header.ejs'); -%>
<%- include('partials/login.ejs'); -%>

<div class="container">
  <div class="row justify-content-center mt-3">
    <div class="col-lg-8 pb-5">
      <a
        href="https://shaikfirdos786.github.io/Nawabs-Portfolio/"
        target="_blank"
        class="name text-decoration-none"
        >Shaik Firdos</a
      >
      <p class="text-light fs-5">
        I am a passionate and dedicated individual with a deep love for coding and a strong desire to make a positive impact in the field of cybersecurity. I am fascinated by the ever-evolving world of technology and am constantly seeking opportunities to enhance my skills and knowledge in order to protect and secure digital systems.
      </p>
      <br />
      <h3 class="text-warning">Who am I?</h3>
      <p class="text-light fs-5">
        I'm a student, currently pursuing Undergraduation from A.V College of
        Arts Science and Commerce in B.Sc Computer Science.With a passion for
        Ethical Hacking, I strive to master the intricacies of Python and
        explore the best practices in building high-performance and reliable
        server-side solutions. I also have keen interest in Web Development.
      </p>
      <br />
      <h3 class="text-warning">Technical Skills</h3>
      <ul class="present-skills text-light">
        <li>Python</li>
        <li>Flask</li>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>Bootstrap</li>
        <li>JavaScript</li>
        <li>jQuery</li>
        <li>SQL</li>
        <li>C Lang</li>
        <li>C++</li>
        <li>RDBMS</li>
        <li>Data Structures</li>
      </ul>
      <br>
      <h3 class="text-warning">Projects</h3>
      <p class="text-light fs-5">I posted all the projects on GitHub, you can see the projects along with the source code.</p>
      <a href="https://github.com/shaikfirdos786?tab=repositories" target="_blank" class="text-decoration-none fs-4"><i class="bi bi-github"></i> shaikfirdos786</a>
    </div>
  </div>
</div>

<%- include('partials/footer.ejs'); -%>
