<%- include('partials/header.ejs'); -%>
<%- include('partials/login.ejs'); -%>

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-8">
        <h4 class="text-success">Connect with me on Social Media!</h4>
        <br>
        <p class="text-light fs-5">Feel free to reach out to me on my social media accounts if you have any questions or just want to connect. I'm always open to making new connections and engaging in meaningful conversations.</p>
        <br>
        <p class=" fs-5">You can DM me on the following platforms:</p>
        <br>
        <ul>
            <li><a href="https://twitter.com/Nawab4581" target="_blank" class="social fs-4"><i class="bi bi-twitter-x"></i>: @Nawab4581</a></li>
            <li><a href="https://www.linkedin.com/in/firdos-shaik-551b4222b/" target="_blank" class="social fs-4"><i class="bi bi-linkedin"></i>: firdos shaik</a></li>
            <li><a href="https://www.instagram.com/shaikfirdosraza/" target="_blank" class="social fs-4"><i class="bi bi-instagram"></i>: shaikfirdosraza</a></li>
            <li><a href="https://www.facebook.com/firdosraza.shaik/" target="_blank" class="social fs-4"><i class="bi bi-facebook"></i>: Shaik Firdos Raza</a></li>
        </ul>
        <br>
        <p class="text-light fs-5">
            I look forward to hearing from you and getting to know you better. Don't hesitate to send me a message anytime.
        </p>
    </div>
  </div>
</div>

<%- include('partials/footer.ejs'); -%>
