<!-- Modal -->
<div
  class="modal fade"
  id="addNotes"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="addNotesModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-dark" id="addNotesModal">Add Notes</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form action="/addNote" method="post">
        <div class="modal-body">
          <div class="mb-3">
            <input
              type="number"
              class="form-control"
              id="bookId"
              name="bookId"
              value="<%= book.id %>"
              aria-describedby="bookIdHelp"
              hidden
            />
          </div>
          <div class="mb-3">
            <label for="note" class="form-label text-dark"
              >Note</label
            >
            <textarea id="note" name="note" class="form-control" rows="4" cols="50"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-success">ADD</button>
        </div>
      </form>
    </div>
  </div>
</div>
